.step2-form {
  display: flex;
  flex-direction: column;
}

.deferred-select-placeholder-container {
  display: flex;
  align-items: center;
}

.deferred-select-placeholder-container > span {
  flex: 1;
}

::ng-deep .hide-deferred-select-dummy-option {
  display: none !important;
}

.internal-spinner {
  display: inline-block;
  position: absolute;
  right: 25px;
}
