<!--
<p>signup-step-first works!</p>

<button (click)="onClick($event)">Step 2</button>-->

<div class="signup-container">
    <mat-card>
        <div>
            <p>Step 1</p>
            <mat-form-field>
                <input matInput type="text" name="Login" placeholder="Login" ngModel>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" name="Password" placeholder="Password">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" name="Confirm password" placeholder="Confirm password">
            </mat-form-field>
            <mat-form-field>
                <input type="checkbox">
            </mat-form-field>
            <button mat-raised-button color="primary">Go to step 2</button>
        </div>
    </mat-card>
</div>